/* CONTENEDOR GENERAL */
.solicitud-container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 14px;
  /*box-shadow: 0 4px 12px rgba(0,0,0,0.10);*/
  /*border: 1px solid #dce3ff;*/
  transform: translateY(-90px);
}

/* TITULOS */
.solicitud-container h2,
.solicitud-container h3 {
  color: #3f3836;
  font-weight: 700;
  margin-bottom: 18px;
}

/* FORMULARIO */
.solicitud-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* LABEL */
.solicitud-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #3f3836;
}

/* INPUTS */
.solicitud-form input,
.solicitud-form select,
.solicitud-form textarea {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #d6d3d1;
  font-size: 15px;
  background: #ffffff;
  transition: 0.2s;
  resize: vertical; 
  min-height: 50px;
  max-height: 200px;
  font-family: inherit;
}

.solicitud-form input:focus,
.solicitud-form select:focus,
.solicitud-form textarea:focus {
  outline: none;
  background: #fffbeb;
  border-color: #d97706;
  box-shadow: 0 0 5px rgba(58, 74, 154, 0.4);
}

/* CONTADOR DE CARACTERES */
.char-counter {
  font-size: 12px;
  color: #666;
  text-align: right;
  margin-top: 5px;
  font-weight: 500;
}

/* BOTON */
.solicitud-btn {
  background: #92400e;
  border: none;
  padding: 13px;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 220px;
  margin-top: 5px;
  font-weight: 600;
  transition: 0.25s;
}

.solicitud-btn:hover {
  background: #7f1d1d;
  transform: scale(1.03);
}

.pauta-btn {
  background: #ffffff; 
  border: 2px solid #d97706;
;
  padding: 13px;
  font-size: 16px;
  color: #b45309;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  margin-top: 5px;
  font-weight: 600;
  transition: 0.25s;
}

.pauta-btn:hover {
  background: #f1e7d4;
  transform: scale(1.03);
}

/* LISTA DE SOLICITUDES */
.solicitudes-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.solicitudes-list li {
  background: #f3efec;
  padding: 18px;
  border-left: 6px solid #3f3836;
  margin-bottom: 14px;
  border-radius: 10px;
  color: #3f3836;
  font-size: 15px;
}

/* Links de evidencia */
.solicitudes-list a {
  color: #3A4A9A;
  font-weight: 600;
  text-decoration: underline;
}

.solicitudes-list a:hover {
  color: #7f1d1d;
}

/* Justificación en historial */
.justificacion-text {
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

/* Items de evaluación */
.evaluacion-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;

  background: linear-gradient(
    to right,
    #f1e7d4  0%,
    #d97706 120%  
  );

  border: 1px solid #a5a5a5;
  border-radius: 8px;
  padding: 1px;
}

/* Contenedor de pautas */
.pautas-container {
  background: #f1e7d4;
  border: 2px solid #3f3836;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  max-height: 500px;
  overflow-y: auto;
}
