.table-container .tabulator {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.06);
}
.table-container .tabulator .tabulator-col {
    background-color: #92400e;
    color: #fff;
}
.tabulator .tabulator-footer .tabulator-page {
    background-color: #fff;
    color: black;
    border: 1px solid #92400e;
    padding: 4px 8px;
    border-radius: 4px;
}
.tabulator .tabulator-footer .tabulator-page.active {
    color: #E4332C;
}